:root {
  --white: #FFFFFF;
  --grey: #D2D2D2;
  --bg: #E5E5E5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg);
}